.icon-blank{
	background:url('/static/images/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('/static/images/edit_add.png') no-repeat center center;
}
.icon-edit{
	background:url('/static/images/pencil.png') no-repeat center center;
}
.icon-clear{
	background:url('/static/images/clear.png') no-repeat center center;
}
.icon-remove{
	background:url('/static/images/edit_remove.png') no-repeat center center;
}
.icon-save{
	background:url('/static/images/filesave.png') no-repeat center center;
}
.icon-cut{
	background:url('/static/images/cut.png') no-repeat center center;
}
.icon-ok{
	background:url('/static/images/ok.png') no-repeat center center;
}
.icon-no{
	background:url('/static/images/no.png') no-repeat center center;
}
.icon-cancel{
	background:url('/static/images/cancel.png') no-repeat center center;
}
.icon-reload{
	background:url('/static/images/reload.png') no-repeat center center;
}
.icon-search{
	background:url('/static/images/search.png') no-repeat center center;
}
.icon-print{
	background:url('/static/images/print.png') no-repeat center center;
}
.icon-help{
	background:url('/static/images/help.png') no-repeat center center;
}
.icon-undo{
	background:url('/static/images/undo.png') no-repeat center center;
}
.icon-redo{
	background:url('/static/images/redo.png') no-repeat center center;
}
.icon-back{
	background:url('/static/images/back.png') no-repeat center center;
}
.icon-sum{
	background:url('/static/images/sum.png') no-repeat center center;
}
.icon-tip{
	background:url('/static/images/tip.png') no-repeat center center;
}
.icon-filter{
	background:url('/static/images/filter.png') no-repeat center center;
}
.icon-man{
	background:url('/static/images/man.png') no-repeat center center;
}
.icon-lock{
	background:url('/static/images/lock.png') no-repeat center center;
}
.icon-more{
	background:url('/static/images/more.png') no-repeat center center;
}


.icon-mini-add{
	background:url('/static/images/mini_add.png') no-repeat center center;
}
.icon-mini-edit{
	background:url('/static/images/mini_edit.png') no-repeat center center;
}
.icon-mini-refresh{
	background:url('/static/images/mini_refresh.png') no-repeat center center;
}

.icon-large-picture{
	background:url('/static/images/large_picture.png') no-repeat center center;
}
.icon-large-clipart{
	background:url('/static/images/large_clipart.png') no-repeat center center;
}
.icon-large-shapes{
	background:url('/static/images/large_shapes.png') no-repeat center center;
}
.icon-large-smartart{
	background:url('/static/images/large_smartart.png') no-repeat center center;
}
.icon-large-chart{
	background:url('/static/images/large_chart.png') no-repeat center center;
}
